@page "/"

@inject HttpClient Http
@using System.Text.Json.Serialization
@using System.Timers
@using BlazorToe.Models

<PageTitle>Home</PageTitle>

<h1>Tesserac-Toe</h1>

<button onclick="@GetGames">Refresh Games</button>

<h3>Waiting Games</h3>

@if (WaitingGames.Any())
{
    @foreach (var game in WaitingGames)
    {
        <p>Game ID: @game.Id</p>
        <p>Player 1: @game.Player1Id</p>
    }
}
else
{
    <p>There are no games :/</p>
}

<h3>Games in progress</h3>

@if (WaitingGames.Any())
{
    @foreach (var game in ActiveGames)
    {
        <p>Game ID: @game.Id</p>
        <p>Player 1: @game.Player1Id</p>
        <p>Player 2: @game.Player2Id</p>
    }
}
else
{
    <p>There are no games :/</p>
}

@code
{
    private List<Game>? _games;

    private IList<Game> WaitingGames => _games?.Where(g => g.Player2Id is null).ToList() ?? [];
    private IList<Game> ActiveGames => _games?.Where(g => g.Player2Id is not null).ToList() ?? [];

    private async Task GetGames()
    {
        try
        {
            _games = await Http.GetFromJsonAsync<List<Game>>("http://localhost:3000/games");
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
        }
    }

    protected override async Task OnInitializedAsync()
    {
        // Init load
        await GetGames();
    }
}
