@using BlazorToe.Models

<div class="card bg-light border-2 p-2 m-2">
    <h4>Game ID: @Game.Id</h4>
    <p>Game State: @Game.GameState</p>
    <p>Player 1: @Game.Player1Id</p>
    <p>Player 2: @Game.Player2Id</p>
    <p>@Game.PlayerMovesString</p>
</div>

@code {
    [Parameter]
    public required Game Game { get; set; }
}